
@inject IDropdownService dropdownService
@{
    ViewData["Title"] = "Subjects";
}
<!-- Breadcubs Area Start Here -->
<div class="breadcrumbs-area">
    <h3>Subjects</h3>
    <ul>
        <li>
            <a asp-action="Index" asp-controller="Dashboard"><i class="fa fa-home"></i></a>
        </li>
        @*<li>
            <a asp-action="Index" asp-controller="Classes">Classes</a>
        </li>*@
        <li>Subjects</li>
    </ul>
</div>
<!-- Breadcubs Area End Here -->

<div class="card height-auto">
    <div class="card-body">
        <div class="text-right">
            <button type="button" id="addBtn" class="btn btn-primary2 btn-md text-white px-4 py-2 f12 my-3"><i class="fa fa-plus"></i>&nbsp; Add Subject</button>
        </div>
        <div class="table-responsive">
            <table id="subjectsTable" class="table table-sm display text-nowrap f14 table-hover table-striped">
                <thead>
                    <tr>
                        <th style="width:28px">#</th>
                        <th>Class</th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Description</th>
                        <th>Date&nbsp;Created</th>
                        <th>Date&nbsp;Created</th>
                        <th>Updated&nbsp;By</th>
                        <th>Date&nbsp;Updated</th>
                        <th>Date&nbsp;Updated</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>




<!-- Add Modal -->
<div class="modal fade" id="addModal">
    <div class="modal-dialog modal-md modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">New Subject <span></span></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form>
                <fieldset>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="classId" class="f14">* Class</label>
                                    <select id="classId" class="form-control custom-select" asp-items="@dropdownService.GetClasses()" required>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name" class="f14">* Name</label>
                                    <input id="name" type="text" class="form-control" placeholder="Enter subject title" required />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="code" class="f14">Code</label>
                                    <input id="code" type="text" class="form-control" maxlength="10" placeholder="E.g. MTH for Mathematics" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="description" class="f14">Description</label>
                                    <textarea id="description" type="text" class="form-control"  placeholder="A brief description of the subject" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-light border text-dark btn-sm px-4 py-2 f12" data-dismiss="modal"><i class="fa fa-times"></i> &nbsp;Cancel</button>
                        <button type="submit" id="createBtn" class="btn btn-primary2 btn-sm px-4 py-2 f12"><i class="fa fa-check-circle"></i> &nbsp;Submit</button>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal">
    <div class="modal-dialog modal-md modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit Subject <span></span></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form>
                <fieldset>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="e_classId" class="f14">* Class</label>
                                    <select id="e_classId" class="form-control custom-select" asp-items="@dropdownService.GetClasses()" required>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="e_name" class="f14">* Name</label>
                                    <input id="e_name" type="text" class="form-control" placeholder="Enter subject title" required />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="e_code" class="f14">Code</label>
                                    <input id="e_code" type="text" class="form-control" maxlength="10" placeholder="E.g. MTH for Mathematics" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="e_description" class="f14">Description</label>
                                    <textarea id="e_description" type="text" class="form-control" placeholder="A brief description of the subject" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-light border text-dark btn-sm px-4 py-2 f12" data-dismiss="modal"><i class="fa fa-times"></i> &nbsp;Cancel</button>
                        <button type="submit" id="updateBtn" class="btn btn-primary2 btn-sm px-4 py-2 f12"><i class="fa fa-check-circle"></i> &nbsp;Submit</button>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
</div>

@section css{
    <link href="~/lib/selectize.js/css/selectize.bootstrap4.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
}

@section js{
    <script src="~/lib/selectize.js/js/standalone/selectize.js"></script>
    <script src="~/lib/datatables.net/jquery.dataTables.js"></script>
    <script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <script>

    </script>
    <script src="~/js/subjects.js" asp-append-version="true"></script>

}