:root {
  --claret: #8f1b39;
  --dark_claret: #751630;
  --walnut: #392621;
  --beige: #f6f5dc;
  --flaxsmoke: #808261;
  --cabaret: #db4069;
  --mexicanred: #9c1e3f;
}
p{
  margin-bottom: 0;
  padding-bottom: 0;
}

label{
  margin-bottom: 0 !important;
}

.text-beige {
    color: var(--beige);
}
.bg-beige {
    background-color: var(--beige);
}
.text-claret{
  color:var(--claret);
}
.bg-claret {
    background-color: var(--claret);
}
.nav-bar-header-one {
  background: linear-gradient(to right, var(--white), var(--white));
}
.title-div h3 {
  transform: scaleX(2);
  font-size: 22px;
}
.title-div h6 {
  font-size: 12px;
  transform: scaleX(0.96);
}
.title-div h3,
.title-div h6 {
  color: var(--claret);
}

.auth-title-div h3 {
  transform: scaleX(2);
  font-size: 26px;
}
.auth-title-div h6 {
  font-size: 14px;
  transform: scaleX(0.96);
}
.auth-title-div h3,
.auth-title-div h6 {
  color: var(--claret);
}
.btn-icon-wrap span {
  background-color: var(--flaxsmoke) !important;
}
.sidebar-color {
  background-color: var(--claret);
}
.sidebar-menu-one .sidebar-menu-content .nav-sidebar-menu > .nav-item,
.sidebar-menu-one .mobile-sidebar-header {
  border-bottom: 1px solid var(--claret) !important;
}
.sidebar-menu-one
  .sidebar-menu-content
  .nav-sidebar-menu
  > .nav-item
  .sub-group-menu {
  background-color: var(--dark_claret);
}
.sidebar-menu-one
  .sidebar-menu-content
  .nav-sidebar-menu
  > .nav-item
  > .nav-link
  i::before {
  color: var(--beige);
}
.sidebar-menu-one
  .sidebar-menu-content
  .nav-sidebar-menu
  > .nav-item
  > .nav-link
  span,
.sidebar-menu-one
  .sidebar-menu-content
  .nav-sidebar-menu
  .sidebar-nav-item
  > .nav-link::after {
  color: rgba(255, 255, 255, 0.7);
}
.sidebar-menu-one
  .sidebar-menu-content
  .nav-sidebar-menu
  .nav-item.active
  .nav-link::after {
  color: var(--beige);
}
.sidebar-menu-one
  .sidebar-menu-content
  .nav-sidebar-menu
  > .nav-item
  .sub-group-menu
  > .nav-item
  .nav-link:hover {
  background-color: var(--mexicanred);
}
.navbar.header-menu-one {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 5;
}
.overlay{
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}
.sidebar-menu-one .sidebar-menu-content {
  top: 180px;
}

#scrollUp:hover, #scrollUp:focus {
  background-color: var(--mexicanred);
}

#scrollUp {
  background-color: var(--claret);
  border: 2px solid var(--claret);
}

.footer-wrap-layout1 {
  padding: 2rem 0 2rem;
}
/* .dashboard-content-one{
  position: fixed;
  height: calc(100vh - 70px);
} */
.sidebar-collapsed .nav-pad{
  height: 200px;
}

.header-main-menu{
  padding: 0 20px 0 15px;
}

.title2{
  display: none;
}

.sidebar-collapsed .title2{
  display: block;
}

.auth-bg {
  min-height: 100vh;
  background: linear-gradient( 140deg, rgba(143,27,57, 0.6), rgba(143,27,57, 0.6) ), url("../img/auth_bg1.jpg") repeat;
      background-color: rgba(0, 0, 0, 0);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.custom-select{
  opacity: .8;
}
.login-page-content .login-box .login-form .form-group .forgot-btn{
  color: var(--flaxsmoke);
}
.login-page-content .login-box .login-form .form-group .forgot-btn:hover{
  color: var(--claret);
}
.form-check label::before{
  width: 20px;
  height: 20px;
}
.login-page-content .login-box .login-form .form-group .login-btn{
  background: linear-gradient(to top, var(--claret), var(--flaxsmoke));
}
.login-page-content .login-box .login-form .form-group .login-btn:hover{
  background: linear-gradient(to top, var(--mexicanred), var(--cabaret));
}
.login-page-content .login-box .login-form .form-group .login-btn::after {
  background:none;
}
.login-page-content .login-box .login-form .form-group .form-check .form-check-label::after {
  top: 3px;
  left: 5px;
}
.login-page-content .login-box {
  min-width: auto;
}
.simplebar-scrollbar::before {
    background-color: rgba(220, 220, 220, .8);
}
.main-content{
    min-height:calc(100vh - (70px + 63px));
}

.initial-box {
    width: 40px;
    height: 40px;
    padding-top:7px;
}
.breadcrumbs-area ul li::before {
    top: 44% !important;
    color: var(--secondary);
}
.breadcrumbs-area ul li{
    font-size:14px;
}
.breadcrumbs-area ul li a{
    color:var(--secondary);
}
.breadcrumbs-area ul li a:hover{
    color: var(--claret);
}
.breadcrumbs-area ul li{
    color:var(--claret);
}

.btn-primary2{
    background-color: var(--claret);
    color:#fff;
    border-color:var(--claret);
    cursor:pointer;
}

    .btn-primary2:hover, .btn-primary2:focus, .btn-primary2:active {
        background-color: var(--cabaret);
        color: #fff;
        border-color: var(--cabaret);
    }

.dataTables_wrapper .table thead tr th {
    border-bottom: none;
    font-size: 14px;
    color: var(--dark);
    padding: 8px 16px;
}

.dataTables_wrapper .table thead .sorting::before {
    top: 32%;
}
.dataTables_wrapper .table thead .sorting::after{
    bottom: 54%;
}
.dataTables_wrapper .table thead .sorting_asc::after {
    content: "\f0d7";
    bottom: 54%;
    color: #bfbfbf;
    opacity:0.3;
}
.dataTables_wrapper .table thead .sorting_asc::before {
    content: "\f0d8";
    bottom: 32%;
    color:var(--dark);
}

.dataTables_wrapper .table thead .sorting_desc::after {
    content: "\f0d7";
    bottom: 54%;
    color: var(--dark);
}

.dataTables_wrapper .table thead .sorting_desc::before {
    content: "\f0d8";
    bottom: 32%;
}
.dataTables_wrapper .table tbody tr td{
    font-size:14px;
}
div.dataTables_wrapper div.dataTables_length select,
div.dataTables_wrapper div.dataTables_filter input,
div.dataTables_wrapper div.dataTables_filter,
div.dataTables_wrapper div.dataTables_length,
div.dataTables_wrapper div.dataTables_info,
div.dataTables_wrapper div.dataTables_paginate {
    font-size: 14px;
}

    div.dataTables_wrapper div.dataTables_filter input {
        background-color: #f8f8f8;
        border-radius: 4px;
        border: none;
        padding: 5px 15px;
    }
    div.dataTables_wrapper div.dataTables_filter input:focus {
        outline: none;
        box-shadow: none;
        border: none;
    }
.page-link{
    padding: 6px 12px;
}
div.dataTables_wrapper div.dataTables_info{
    padding-top:26px;
}
div.dataTables_wrapper div.dataTables_length{
    padding: 4px 0;
}
.Zebra_DatePicker_Icon_Wrapper{
    width:100% !important;
}
.modal .modal-dialog .modal-content .modal-footer {
    padding: 0.75rem;
}
.alert-warning p{
    color: #856404 !important;
}
.alert-danger p{
    color: #721c24 !important;
}
.alert-success p{
    color: #155724 !important;
}
.dataTables_wrapper .table tbody tr td .dropdown .dropdown-menu {
    padding: 8px 0 8px;
    font-size:14px;
}
    .dataTables_wrapper .table tbody tr td .dropdown .dropdown-menu .dropdown-item {
        font-size: 13px;
        padding: 4px 16px;
    }

.page-item.active .page-link {
    background-color: var(--claret);
    border-color: var(--claret);
}
.selectize-dropdown, .selectize-dropdown.form-control {
    z-index: 1400 !important;
    opacity:1;
}

.selectize-control.single .selectize-input input
 {
    width: 100% !important;
    height: 26px;
    background-color: transparent !important;
}
.selectize-control.single .selectize-input.input-active {
    background-color: transparent !important;
}
.selectize-input.focus {
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 .2rem transparent;
}
.selectize-input.full,
.selectize-input {
    border-color: transparent;
    background-color: transparent;
}

.selectize-control.single .selectize-input::after{
    right:0px;
}
.form-control.selectize-control{
    padding: 5px 10px;
    height:auto;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: var(--cabaret) !important;
}

textarea{
    height:auto !important;
}
.modal .modal-dialog .modal-content .modal-header .modal-title{
    color: var(--claret);
}
.nav-tabs .nav-link {
    font-size: 14px;
    line-height: 1.5rem;
    padding: 8px 12px 6px 12px;
    border-radius: 7px 7px 0 0;
    color: var(--claret);
    border-bottom:0;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: var(--claret);
    color: var(--white);
    border: none;
    font-weight:bold;
}
.nav.nav-tabs {
    border-bottom: 2px solid var(--claret);
}
.modal-dialog-scrollable .modal-body{
    max-height:calc(100vh - 144px);
}
.choices__list--dropdown{
    display:none;
    visibility:visible;
}

.choices__list--dropdown.is-active {
    display: block;
    visibility: visible;
}

.choices__list--multiple .choices__item{
    background-color: var(--cabaret);
    border: 1px solid var(--cabaret);
}
.choices[data-type*="select-multiple"] .choices__button, 
.choices[data-type*="text"] .choices__button{
    border-left:1px solid #ddd;
}
.choices__input{
    margin-bottom:0px;
}
.choices__inner {
    background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") right 0.75rem center/8px 10px no-repeat;
    background-color: #f9f9f9;
    border-color: #f9f9f9;
}
button.Zebra_DatePicker_Icon{
    opacity:.6;
}

.alert-info h4,
.alert-info h5,
.alert-info h6,
.alert-info p {
    color: #0c5460;
}

.bg-light {
    background-color: #f8f9fa !important;
}




/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .sidebar-menu-one {
    position: fixed;
    left: 0;
    top: 70px;
   /* overflow-y: auto;
    overflow-x: hidden !important;*/
  }
   .sidebar-menu-one .sidebar-menu-content {
     overflow: hidden;
  } 

  .dashboard-content-one{
    margin-left: 260px;
  }
  
  .sidebar-collapsed .dashboard-content-one{
    margin-left: 8rem;
  }
  .nav-bar-header-one {
    background: linear-gradient(to right, var(--beige), var(--beige));
  }
    #scrollUp {
        bottom:40px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }