
@inject IDropdownService dropdownService
@inject ISessionService service;
@{
    ViewData["Title"] = "Change Password";
}
<!-- Breadcubs Area Start Here -->
<div class="breadcrumbs-area">
    <h3>Change Password</h3>
    <ul>
        <li>
            <a asp-action="Index" asp-controller="Dashboard"><i class="fa fa-home"></i></a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Profile">Profile</a>
        </li>
        <li class="active">Change Password</li>
    </ul>
</div>
<!-- Breadcubs Area End Here -->

<div class="row">
    <div class="col-lg-4 col-md-8">
        <form>
            <fieldset>
                <div class="card">
                    <div class="card-body">
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="password" class="f14">* Current Password</label>
                                    <input type="password" id="password" class="form-control" placeholder="Enter current password" required />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="npassword" class="f14">* New Password</label>
                                    <input type="password" id="npassword" class="form-control" placeholder="Enter new password" required />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="cnpassword" class="f14">* Confirm New Password</label>
                                    <input type="password" id="cnpassword" class="form-control" placeholder="Confirm new password" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white text-right">
                        @*<button type="button" class="btn btn-outline-light border text-dark btn-sm px-4 py-2 f12" data-dismiss="modal"><i class="fa fa-times"></i> &nbsp;Cancel</button>*@
                        <button type="submit" id="changeBtn" class="btn btn-primary2 btn-sm px-4 py-2 f12"><i class="fa fa-check-circle"></i> &nbsp;Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>




@section css{

}

@section js{
    <script>

    </script>
    <script src="~/js/change_password.js" asp-append-version="true"></script>

}