
@inject IDropdownService dropdownService
@{
    ViewData["Title"] = "Classrooms";
}
<!-- Breadcubs Area Start Here -->
<div class="breadcrumbs-area">
    <h3>Classrooms</h3>
    <ul>
        <li>
            <a asp-action="Index" asp-controller="Dashboard"><i class="fa fa-home"></i></a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Classes">Classes</a>
        </li>
        <li>Classrooms</li>
    </ul>
</div>
<!-- Breadcubs Area End Here -->

<div class="card height-auto">
    <div class="card-body">
        <div class="text-right">
            <button type="button" id="addBtn" class="btn btn-primary2 btn-md text-white px-4 py-2 f12 my-3"><i class="fa fa-plus"></i>&nbsp; Add Classroom</button>
        </div>
        <div class="table-responsive">
            <table id="classroomsTable" class="table table-sm display text-nowrap f14 table-hover table-striped">
                <thead>
                    <tr>
                        <th style="width:28px">#</th>
                        <th>Class</th>
                        <th>Room&nbsp;Code</th>
                        @*<th>Teacher</th>*@
                        <th>Status</th>
                        <th>Date&nbsp;Created</th>
                        <th>Date&nbsp;Created</th>
                        <th>Updated&nbsp;By</th>
                        <th>Date&nbsp;Updated</th>
                        <th>Date&nbsp;Updated</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>




<!-- Add Modal -->
<div class="modal fade" id="addModal">
    <div class="modal-dialog modal-md modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">New Classroom <span></span></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form>
                <fieldset>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="classId" class="f14">* Class</label>
                                    <select id="classId" class="form-control custom-select" asp-items="@dropdownService.GetClasses()" required>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="code" class="f14">* Room Code</label>
                                    <select id="code" class="form-control custom-select" required asp-items="@dropdownService.GetRoomCodes()"></select>
                                    @*<input id="code" type="text" class="form-control" maxlength="20" placeholder="E.g Charity, Peace" required />*@
                                </div>
                            </div>
                            @*<div class="col-md-12">
                                    <div class="form-group">
                                        <label for="teacherId" class="f14">Teacher</label>
                                        <select id="teacherId" class="form-control custom-select teachersdd">
                                        </select>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-light border text-dark btn-sm px-4 py-2 f12" data-dismiss="modal"><i class="fa fa-times"></i> &nbsp;Cancel</button>
                        <button type="submit" id="createBtn" class="btn btn-primary2 btn-sm px-4 py-2 f12"><i class="fa fa-check-circle"></i> &nbsp;Submit</button>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal">
    <div class="modal-dialog modal-md modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit Classroom <span></span></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form>
                <fieldset>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="e_classId" class="f14">* Class</label>
                                    <select id="e_classId" class="form-control custom-select" asp-items="@dropdownService.GetClasses()" required>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="e_code" class="f14">* Room Code</label>
                                    <select id="e_code" class="form-control custom-select" required asp-items="@dropdownService.GetRoomCodes()"></select>
                                    @*<input id="e_code" type="text" class="form-control" maxlength="20" placeholder="E.g Charity, Peace" required />*@
                                </div>
                            </div>
                            @*<div class="col-md-12">
                                    <div class="form-group">
                                        <label for="e_teacherId" class="f14">Teacher</label>
                                        <select id="e_teacherId" class="form-control custom-select teachersdd">
                                        </select>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-light border text-dark btn-sm px-4 py-2 f12" data-dismiss="modal"><i class="fa fa-times"></i> &nbsp;Cancel</button>
                        <button type="submit" id="updateBtn" class="btn btn-primary2 btn-sm px-4 py-2 f12"><i class="fa fa-check-circle"></i> &nbsp;Submit</button>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
</div>

@section css{
    <link href="~/lib/selectize.js/css/selectize.bootstrap4.css" rel="stylesheet" />

    <link href="~/lib/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-buttons-bs4/buttons.bootstrap4.css" rel="stylesheet" />
}

@section js{
    <script src="~/lib/selectize.js/js/standalone/selectize.js"></script>

    <script src="~/lib/datatables.net/jquery.dataTables.js"></script>
    <script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/datatables-buttons/js/dataTables.buttons.js"></script>
    <script src="~/lib/datatables.net-buttons-bs4/buttons.bootstrap4.js"></script>
    <script src="~/lib/jszip/jszip.js"></script>
    <script src="~/lib/pdfmake/pdfmake.js"></script>
    <script src="~/lib/pdfmake/vfs_fonts.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.html5.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.print.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.colVis.js"></script>
    <script>

    </script>
    <script src="~/js/classrooms.js" asp-append-version="true"></script>

}