@{
    ViewData["Title"] = "Login";
    Layout = "_AuthLayout";
}

<div class="row">
    <div class="offset-xl-4 col-xl-4 offset-md-3 col-md-6 offset-sm-2 col-sm-8">
        <div class="login-page-content w-100 p-0 m-0" style="margin-top: 10vh !important;">
            @if (TempData["successMessage"] != null)
            {
            <div class="alert alert-success alert-dismissible fade show w-100" role="alert">
                <strong class="f16"><i class="fa fa-check-circle"></i> Success</strong>
                <p class="m-0 f14">@TempData["successMessage"]</p>
                <button type="button" class="close f18" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            }
            @if (TempData["errorMessage"] != null)
            {
            <div class="alert alert-danger alert-dismissible fade show w-100" role="alert">
                <strong class="f16"><i class="fa fa-times-circle"></i> Error</strong>
                <p class="m-0 f14">@TempData["errorMessage"]</p>
                <button type="button" class="close f18" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            }

            <div class="login-box p-5 pb-0 w-100" style="padding-bottom: 0px !important;">
                <div class="p-lg-3">
                    <div class="item-logo">
                        <!-- <img src="img/logo2.png" alt="logo"> -->
                        <div class="d-flex flex-row pl-3 p-md-0 mx-auto" style="width: 250px;">
                            <div><img src="~/img/caleb_logo2.png" class="img-fluid mt-3" style="max-width: 74px;" alt="logo"></div>
                            <div class="flex-fill auth-title-div">
                                <h3 class="mb-0 mt-2 font-weight-bold text-center">CALEB</h3>
                                <h6 class="mb-0 mt-n2 text-center">INTERNATIONAL SCHOOL, MAGODO</h6>
                            </div>
                        </div>
                        <hr />
                    </div>

                    <form class="login-form">
                        <fieldset>
                            <div class="form-group">
                                <label for="type">* Who is visiting?</label>
                                <select id="type" class="form-control custom-select" required>
                                    <option value="">- Choose option -</option>
                                    <option value="student">Student</option>
                                    <option value="parent">Parent</option>
                                    <option value="staff">Staff</option>
                                </select>
                                <i class="far fa-user-circle"></i>
                            </div>
                            <div class="form-group">
                                <label for="username">* Email/Username/Admission No.</label>
                                <input id="username" type="text" placeholder="Enter email or usrename or admission no." class="form-control" required />
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="form-group">
                                <label for="password">* Password</label>
                                <input id="password" type="password" placeholder="Enter password" class="form-control" required />
                                <i class="fas fa-lock"></i>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <div class="form-check d-none">
                                    <input type="checkbox" class="form-check-input" id="remember-me">
                                    <label for="remember-me" class="form-check-label">Remember Me</label>
                                </div>
                                <p class="flex-fill text-right"><a asp-controller="Auth" asp-action="RecoverPassword" class="forgot-btn text-claret">Forgot Password?</a></p>
                            </div>
                            <input type="hidden" id="returnUrl" value="@(ViewData["returnUrl"])" />
                            <div class="form-group">
                                <button id="loginBtn" type="submit" class="login-btn"><span class="fa fa-sign-in-alt"></span> &nbsp;Login</button>
                            </div>
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

@section js{
    <script src="~/js/login.js" asp-append-version="true"></script>
}