@inject ISessionService service
@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login | Caleb International School</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="~/lib/normalize/normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="~/css/main.css">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="~/fonts/flaticon.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/lib/animate.css/animate.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/custom.css">
    <!-- Modernize js -->
    <script src="~/js/modernizr-3.6.0.min.js"></script>
</head>

<body class="auth-bg">
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <!-- Login Page Start Here -->
    <div class="container-fluid">
        <div class="row">
            <div class="offset-xl-4 col-xl-4 offset-md-3 col-md-6 offset-sm-2 col-sm-8">
                <div class="login-page-content w-100 p-0 m-0" style="margin-top: 10vh !important;">

                    <div class="login-box p-5 pb-0 w-100" style="padding-bottom: 0px !important;">
                        <div class="p-lg-3">
                            <div class="item-logo">
                                <!-- <img src="img/logo2.png" alt="logo"> -->
                                <div class="d-flex flex-row pl-3 p-md-0 mx-auto" style="width: 234px;">
                                    <div><img src="~/img/caleb_logo.png" class="img-fluid" style="max-width: 60px;" alt="logo"></div>
                                    <div class="flex-fill auth-title-div">
                                        <h3 class="mb-0 mt-2 font-weight-bold text-center">CALEB</h3>
                                        <h6 class="mb-0 mt-n2 text-center">INTERNATIONAL SCHOOL</h6>
                                    </div>
                                </div>
                                <hr />
                            </div>

                            <form class="login-form">
                                <fieldset>
                                    <div class="form-group">
                                        <label for="type">* Who are you?</label>
                                        <select id="type" class="form-control custom-select" required>
                                            <option value="">- Choose option -</option>
                                            <option value="student">I am a student</option>
                                            <option value="parent">I am a parent</option>
                                            <option value="staff">I am a staff</option>
                                        </select>
                                        <i class="far fa-user-circle"></i>
                                    </div>
                                    <div class="form-group">
                                        <label for="username">* Email/Username</label>
                                        <input id="username" type="text" placeholder="Enter email or usrename" class="form-control" required />
                                        <i class="far fa-envelope"></i>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">* Password</label>
                                        <input id="password" type="password" placeholder="Enter password" class="form-control" required />
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    <div class="form-group d-flex align-items-center justify-content-between">
                                        <div class="form-check d-none">
                                            <input type="checkbox" class="form-check-input" id="remember-me">
                                            <label for="remember-me" class="form-check-label">Remember Me</label>
                                        </div>
                                        <p class="flex-fill text-right"><a href="#" class="forgot-btn text-claret">Forgot Password?</a></p>
                                    </div>
                                    <input type="hidden" id="returnUrl" value="@(ViewData["returnUrl"])" />
                                    <div class="form-group">
                                        <button id="loginBtn" type="submit" class="login-btn"><span class="fa fa-sign-in-alt"></span> &nbsp;Login</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login Page End Here -->
    <!-- jquery-->
    <script src="~/lib/jquery/jquery.js"></script>
    <!-- Plugins js -->
    <script src="~/js/plugins.js"></script>
    <!-- Bootstrap js -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <!-- Scroll Up Js -->
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script>
         $base = '@service.BaseUrl';
    </script>
    <script src="~/lib/bootstrap-notify/bootstrap-notify.js" asp-append-version="true"></script>
    <script src="~/lib//js-cookie/js.cookie.js" asp-append-version="true"></script>
    <script src="~/js/notify.js" asp-append-version="true"></script>
    <script src="~/js/utilities.js" asp-append-version="true"></script>
    <!-- Custom Js -->
    <script src="~/js/main.js"></script>
    <script src="~/js/error_handler.js" asp-append-version="true"></script>
    <script src="~/js/login.js" asp-append-version="true"></script>

</body>

</html>